<header class="py-5 justify-content-center">
    <div class="container text-center">
        <h1 class="my-5">Riepilogo Prenotazione</h1>
        <div class="row py-5 ">
            <div class="col-sm-4">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">Tratta</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">Passeggero</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">Posti</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>